@import "../static/font/MaterialIcons/material-icons.css";
//@font-face{font-family:Montserrat;font-weight:100;src:url("../static/font/Montserrat/Montserrat-Thin.ttf")}
//@font-face{font-family:Montserrat;font-weight:200;src:url("../static/font/Montserrat/Montserrat-ExtraLight.ttf")}
//@font-face{font-family:Montserrat;font-weight:300;src:url("../static/font/Montserrat/Montserrat-Light.ttf")}
//@font-face{font-family:Montserrat;font-weight:400;src:url("../static/font/Montserrat/Montserrat-Regular.ttf")}
//@font-face{font-family:Montserrat;font-weight:500;src:url("../static/font/Montserrat/Montserrat-Medium.ttf")}
//@font-face{font-family:Montserrat;font-weight:600;src:url("../static/font/Montserrat/Montserrat-SemiBold.ttf")}
//@font-face{font-family:Montserrat;font-weight:700;src:url("../static/font/Montserrat/Montserrat-Bold.ttf")}
//@font-face{font-family:Montserrat;font-weight:800;src:url("../static/font/Montserrat/Montserrat-ExtraBold.ttf")}
//@font-face{font-family:Montserrat;font-weight:900;src:url("../static/font/Montserrat/Montserrat-Black.ttf")}
@font-face{font-family:Raleway;font-weight:100;src:url("../static/font/Raleway/Raleway-Thin.ttf")}
@font-face{font-family:Raleway;font-weight:200;src:url("../static/font/Raleway/Raleway-ExtraLight.ttf")}
@font-face{font-family:Raleway;font-weight:300;src:url("../static/font/Raleway/Raleway-Light.ttf")}
@font-face{font-family:Raleway;font-weight:400;src:url("../static/font/Raleway/Raleway-Regular.ttf")}
@font-face{font-family:Raleway;font-weight:500;src:url("../static/font/Raleway/Raleway-Medium.ttf")}
@font-face{font-family:Raleway;font-weight:600;src:url("../static/font/Raleway/Raleway-SemiBold.ttf")}
@font-face{font-family:Raleway;font-weight:700;src:url("../static/font/Raleway/Raleway-Bold.ttf")}
@font-face{font-family:Raleway;font-weight:800;src:url("../static/font/Raleway/Raleway-ExtraBold.ttf")}
@font-face{font-family:Raleway;font-weight:900;src:url("../static/font/Raleway/Raleway-Black.ttf")}
